h1, h2, h3{
    color: #2596be !important;
}

a{
    color: #2596be !important;
}

.detail{
    color: black;
}

.highlight-container{
    margin: 3em 0em !important;
    padding: 2em;
    border-radius: 2em;
    background-color: rgb(238, 238, 238);
}

section{
    padding: 1em 2em;
}

#header-box{
    margin: 5em 2em 1em 2em;
}

#frontPicBox{
    display: flex;
    justify-content: center;
    align-content: center;
}

#frontPic{
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
}

#infoBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1248px) {
    #frontPic{
        border-radius: 50%;
        width: 30vw;
        height: 30vw;
    }
}

@media (max-width: 767px) {
    #frontPic{
        border-radius: 50%;
        width: 50vw;
        height: 50vw;
        margin-bottom: 2em;
    }

    #infoBox{
        text-align: center;
        align-items: center;
    }
}