body{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #333e43;
    color: #DDC9B4;
}

header{
    padding: 1em 1em;
    background-color: #333e43;
}

header a{
    text-decoration: none;
    color: inherit;
}

header span a{
    padding-left: 1em;
}


.accent{
    color: #bf6a60;
}

.secondary{
    color: #BCAC9B;
}

.external-link{
    color: #bf6a60;
}

::selection{
    background-color: #bf6a60;
    color: white;
}
